@import url("https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}

img {
  vertical-align: middle;
}

.App {
  font-family: Oxygen, Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5 {
font-family: "Fauna One";
font-weight: 400;
color: #008BF8; }

i.fa-trash-o {
  cursor: pointer;
  color: #ccc;
  vertical-align: middle;
  margin-left: 1em; }
  i.fa-trash-o:hover {
    color: #999; }

.Main {
  display: flex;
  height: 100vh;
  align-items: stretch; }

.Nav {
  width: 60px;
  background-color: #f3f3f3;
  padding: 0.5rem 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center; }
.Nav .logo {
  font-family: "Fauna One";
  color: #666;
  font-size: 3rem;
}
.Nav .logo img {
  width: 30px;
  padding-left: 4px;
}

.Nav button {
  background-color: transparent;
  border: 0;
  color: #008BF8;
  cursor: pointer;
  margin-top: 2rem;
  position: relative;
  width: 60%; }
  .Nav button img {
    position: absolute;
    left: 0;
    width: 100%;
    transition: opacity 0.25s ease-in-out; }
    .Nav button:hover img.outline {
      opacity: 0; }

.NoteList {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 30rem;
}

@media (max-width: 800px) {
  .NoteList {
    width: 20rem;
  }
}

.NoteList h3 {
  color: #999;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: Oxygen;
  font-weight: 300;
  letter-spacing: 3px;
  margin: 20px 2rem;
}




input[name="title"] {
  border: none;
  font-size: 200%;
  font-family: "Fauna One";
  color: #008BF8;
  font-weight: 400;
  width: 100%;
}
input[name="title"] {
  outline: none;
}
textarea {
  border-color: #eee;
  width: 100%;
  height: calc(100vh - 140px);
  font-size: 1.3em;
}